@charset "utf-8";
/* CSS Document */


/* GreatVibes Regular + CormorantGaramond */

@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i');

@import "../css/fancyBox.css";
@import "../css/font-awesome.min.css";
@import "../css/isotop.css";
@import "../css/jquery-ui.min.css";
@import "../css/magnific-popup.css";
@import "../css/owl.css";

/* ========== Table of contents ========== */
body {
  background-attachment: fixed;
  color: #2c2c2c;
  font-size: 14px;
  font-family: 'Cormorant Garamond', serif;
  background-color: #ffffff;
  overflow-x: hidden;
  max-width: 100%;
  font-weight: normal;
  overflow-x: hidden !important;
}
.font-Vibes {
  font-family: Great Vibes;
}
.font-Cormorant {
  font-family: Cormorant Garamond;
}

img {
  max-width: 100%;
}
p {
  font-size: 14px;
  line-height: 26px;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
iframe {
  border: none;
  width: 100%;
}
a {
  color: #808080;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #595959;
  text-decoration: none;
}
a img {
  border: none;
}
iframe {
  border: none;
}
/* ========== HEADINGS FONT-SIZE ========== */
h1,h2,h3,h4,h5,h6  {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  line-height: 1.42857143;
  color: #000000;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
.img-fluid {
  width: 100% !important;
}
.text-thm {
  color: #c4a676 !important;
}

/* ========== SECTOPM AND separator ========== */
section {
  position: relative;
}

.bg-img-1{background: url(../img/slider/slide-7.jpg) no-repeat center center / cover;}
.bg-img-2{background: url(../img/bg/4.jpg) no-repeat center center / cover;}
.bg-img-3{background: url(../img/slider/3.jpg) no-repeat center center / cover;}
/* ========== SCROLL TO TOP ========== */
.scrollToTop {
  background: rgba(0, 0, 0, 0.3);
  bottom: 15px;
  display: none;
  height: 50px;
  padding: 2px;
  position: fixed;
  right: 15px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 99999;
}
.scrollToTop i {
  color: #ffffff;
  font-size: 42px;
}
.scrollToTop:hover {
  background: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* ========== PRELOADER ========== */
.preloader {
  position:fixed;left:0px;top:0px;width:100%;height:100%;z-index:999999;background-color:#ffffff;background-position:center center;background-repeat:no-repeat;background-image:url(../images/preloader.gif);
}


/*--------------------------------------------------------------
#0.3  header top
--------------------------------------------------------------*/
.header-topped {
    background: #ffffff none repeat scroll 0 0;
}
.header-logo {
    text-align: center;
    left: calc(50% - 129px);
    position: relative;
}
.logo-brand {
    margin: 17px 0;
    float: left;
    color: #666;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    cursor: pointer;
}
.header-border {
    padding: 1px 0;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
}
.header-border-2 {
    padding: 1px 0;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
/*--------------------------------------------------------------
#0.3  header
--------------------------------------------------------------*/
.site-header {
  /* navigation open and close btn hide for width screen */
  /* style for navigation less than 992px */
  /*navbar collaps less then 992px*/
}

.site-header .site-logo {
  margin: 0;
}

.site-header .site-logo a {
  color: #2c2c2c;
  font-size: 48px;
}
.header-style-2 .site-logo a {
  color: #fff;
  font-size: 48px;
}
.site-header .site-logo a span {
    color: #c4a676;
    padding: 0 35px 0 15px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
}
@media (max-width: 991px) {
  .site-header .site-logo a {
    color: #333333;
    font-size: 30px;
  }
}

.site-header .site-logo a:hover {
  color: #c4a676;
}

@media (max-width: 991px) {
  .site-header .site-logo a:hover {
    color: #333333;
  }
}

.site-header .site-logo .fi {
  display: inline-block;
  padding-right: 5px;
}

.site-header .site-logo .fi:before {
  font-size: 27px;
  color: #c4a676;
}

@media (max-width: 767px) {
  .site-header .site-logo .fi:before {
    font-size: 18px;
  }
}
/*logo 2*/

.site-header .site-logo-2 {
  margin: 0;
}

.site-header .site-logo-2 a {
  color: #fff;
  font-size: 48px;
}
.site-header .site-logo-2 a span {
    color: #c4a676;
    padding: 0 35px 0 15px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
}
@media (max-width: 991px) {
  .site-header .site-logo-2 a {
    color: #333333;
  }
}

.site-header .site-logo-2 a:hover {
  color: #c4a676;
}

@media (max-width: 991px) {
  .site-header .site-logo a:hover {
    color: #333333;
  }
}

.site-header .site-logo-2 .fi {
  display: inline-block;
  padding-right: 5px;
}

.site-header .site-logo-2 .fi:before {
  font-size: 27px;
  color: #c4a676;
}

@media (max-width: 767px) {
  .site-header .site-logo-2 .fi:before {
    font-size: 18px;
  }
}

/**/
.site-header .navbar-header {
  margin-top: 22px;
}

@media (max-width: 991px) {
  .site-header .navbar-header {
    margin-top: 10px;
  }
}

.site-header .navigation {
  background-color: #fff;
  margin-bottom: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

@media (max-width: 991px) {
  .site-header .navigation {
    min-height: 75px;
  }
}
.site-header #navbar {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  padding-right: 0;
  /*** mega-menu style ***/
}
.navigation-logo h2 {
    color: #2c2c2c;
    font-size: 48px;
    margin-top: -7px;
}
@media (max-width: 991px) {
  .navigation-logo h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 30px;
  }
}
.navigation-logo h2 span {
    color: #c4a676;
    padding: 0 35px 0 15px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
}
.navigation-logo h4 {
    color: #a6a6a6;
    font-size: 18px;
}
@media (max-width: 991px) {
  .navigation-logo h4 {
    display: none;
  }
}
.site-header #navbar ul {
  list-style: none;
}
@media screen and (min-width: 991px) {
  .navigation-hide-logo {
    display: none;
  }
}
.site-header #navbar > ul li a:hover,
.site-header #navbar > ul li.current-menu-item a {
  text-decoration: none;
  color: #c4a676;
  font-family: 'Cormorant Garamond', serif;
}

@media screen and (min-width: 992px) {
  .site-header #navbar {
    /*** hover effect ***/
  }
  .site-header #navbar li {
    position: relative;
    text-align: left;
  }
  .site-header #navbar > ul > li > a {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    padding: 40px 14px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
  }
  .header-style-2 #navbar > ul > li > a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 40px 14px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
  }
  .site-header #navbar > ul > li:last-child a {
    padding-right: 0;
  }
  .site-header #navbar > ul .sub-menu {
    background-color: #fff;
    width: 240px;
    padding: 0px 15px;
    position: absolute;
    left: 0;
    top: 130%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    font-family: 'Cormorant Garamond', serif;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 2px 10px #969595;
    box-shadow: 0 2px 10px #969595;
  }
  .site-header #navbar > ul > li .sub-menu li {
    border-bottom: 1px solid #ededed;
  }
  .site-header #navbar > ul > li .sub-menu a {
    font-size: 13px;
    font-weight: 600;
    color: #3a3a3a;
    display: block;
    padding: 15px;
    font-family: 'Cormorant Garamond', serif;
  }
  .site-header #navbar > ul > li .sub-menu a:hover {
    color: #c4a676;
  }
  .site-header #navbar > ul > li > .sub-menu .sub-menu {
    left: 110%;
    top: 0;
  }
  .site-header #navbar > ul > li > .sub-menu > .menu-item-has-children > a {
    position: relative;
  font-family: 'Cormorant Garamond', serif;
  }
  .site-header #navbar > ul > li > .sub-menu > .menu-item-has-children > a:before {
    font-family: "fontawesome";
    content: "\f107";
    font-size: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .site-header #navbar > ul > li:hover > .sub-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
  .site-header #navbar .sub-menu > li:hover > .sub-menu {
    left: 107%;
    visibility: visible;
    opacity: 1;
  }
  .site-header #navbar > ul > li:last-child .sub-menu .sub-menu {
    right: 107%;
    left: auto;
  }
  .site-header #navbar > ul > li:last-child .sub-menu > li:hover > .sub-menu {
    right: 107%;
    left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .site-header #navbar > ul > li > a {
    padding: 40px 18px;
  font-family: 'Cormorant Garamond', serif;
  }
}

@media (max-width: 991px) {
  .site-header #navbar > ul > li a {
    display: block;
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
  }
  .site-header #navbar > ul > li .sub-menu li {
    border-bottom: 1px solid #e6e6e6;
  }
  .site-header #navbar > ul .sub-menu > li:last-child {
    border-bottom: 0;
  }
  .site-header #navbar > ul > li > .sub-menu a {
    padding: 8px 15px 8px 45px;
  }
  .site-header #navbar > ul > li > .sub-menu .sub-menu a {
    padding: 8px 15px 8px 65px;
  }
  .site-header #navbar > ul .menu-item-has-children > a {
    position: relative;
  }
  .site-header #navbar > ul .menu-item-has-children > a:before {
    font-family: "fontawesome";
    content: "\f107";
    font-size: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 992px) {
  .site-header #navbar {
    /*** hover effect ***/
  }
  .site-header #navbar .has-mega-menu {
    position: static;
  }
  .site-header #navbar .mega-menu,
  .site-header #navbar .half-mega-menu {
    background-color: #fff;
    padding: 20px;
    border-top: 2px solid #c4a676;
    position: absolute;
    right: 0;
    top: 120%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .site-header #navbar .mega-menu {
    width: 1140px;
    right: 15px;
  }
  .site-header #navbar .half-mega-menu {
    width: 585px;
  }
  .site-header #navbar .mega-menu-box-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #e6e6e6;
  }
  .site-header #navbar .mega-menu-list-holder li a {
    font-size: 14px;
    display: block;
    padding: 7px 8px;
    margin-left: -8px;
  }
  .site-header #navbar .has-mega-menu:hover > ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1199px) {
  .site-header #navbar > ul .mega-menu {
    width: 950px;
    right: 15px;
  }
  .site-header #navbar > ul .half-mega-menu {
    width: 485px;
  }
}

@media (max-width: 991px) {
  .site-header #navbar > ul .mega-menu,
  .site-header #navbar > ul .half-mega-menu {
    width: auto;
  }
  .site-header #navbar > ul .mega-menu .row,
  .site-header #navbar > ul .half-mega-menu .row {
    margin: 0;
  }
  .site-header #navbar .mega-menu-content > .row > .col {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .site-header #navbar .mega-menu .mega-menu-list-holder a {
    padding: 5px 15px 5px 40px;
  }
  .site-header #navbar .mega-menu .mega-menu-box-title {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px dotted #b3b3b3;
    padding: 0 0 4px 5px;
    margin: 0 25px 8px 25px;
  }
}

@media screen and (min-width: 992px) {
  .site-header .navbar-header .open-btn {
    display: none;
  }
  .site-header #navbar .close-navbar {
    display: none;
  }
}

@media (max-width: 991px) {
  .site-header {
    /* class for show hide navigation */
  }
  .site-header .container {
    width: 100%;
  }
  .site-header .navbar-header button {
    background-color: #c4a676;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
    padding: 5px 10px;
    outline: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 20;
    border: 1px solid #fff;
  }
  .site-header .navbar-header button span {
    background-color: #fff;
    display: block;
    height: 2px;
    margin-bottom: 5px;
  }
  .site-header .navbar-header button span:last-child {
    width: 15px;
    margin: 0;
  }
  .site-header #navbar {
    background: #fff;
    display: block !important;
    width: 280px;
    height: 100% !important;
    margin: 0;
    padding: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 100;
  }
  .site-header #navbar ul a {
    color: #000;
  }
  .site-header #navbar ul a:hover,
  .site-header #navbar ul li.current a {
    color: #c4a676;
  }
  .site-header #navbar .navbar-nav {
    height: 100%;
    overflow: auto;
  }
  .site-header #navbar .close-navbar {
    background-color: #c4a676;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    outline: none;
    position: absolute;
    left: -18px;
    top: 10px;
    z-index: 20;
    border: 1px solid #fff;
  }
  .site-header #navbar .close-navbar i {
    display: inline-block;
    padding-top: 0px;
  }
  .site-header #navbar > ul > li {
    border-bottom: 1px solid #cccccc;
  }
  .site-header #navbar > ul > li > a {
    padding: 10px 15px 10px 35px;
  }
  .site-header .slideInn {
    right: 0 !important;
  }
}

@media (max-width: 767px) {
  .site-header .navbar-header .navbar-brand {
    font-size: 24px;
  }
  .site-header #navbar .navbar-nav {
    margin: 0;
  }
}

@media (max-width: 991px) {
  /*.site-header .navbar-collapse.collapse {
    display: none;
  }*/
  .header-topped {
    display: none;
  }
  .site-header .navbar-collapse.collapse.in {
    display: block;
  }
  .site-header .navbar-header .collapse,
  .site-header .navbar-toggle {
    display: block;
  }
  .site-header .navbar-header {
    float: none;
  }
  .site-header .navbar-right {
    float: none;
  }
  .site-header .navbar-nav {
    float: none;
  }
  .site-header .navbar-nav > li {
    float: none;
  }
}
/*site header 2*/
.site-header-2 {
  /* navigation open and close btn hide for width screen */
  /* style for navigation less than 992px */
  /*navbar collaps less then 992px*/
}

.site-header-2 .site-logo {
  margin: 0;
}

.site-header-2 .site-logo a {
  color: #2c2c2c;
  font-size: 48px;
}
.site-header-2 .site-logo a span {
    color: #c4a676;
    padding: 0 35px 0 15px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
}
@media (max-width: 991px) {
  .site-header-2 .site-logo a {
    color: #333333;
  }
}

.site-header-2 .site-logo a:hover {
  color: #c4a676;
}

@media (max-width: 991px) {
  .site-header-2 .site-logo a:hover {
    color: #333333;
  }
}

.site-header-2 .site-logo .fi {
  display: inline-block;
  padding-right: 5px;
}

.site-header-2 .site-logo .fi:before {
  font-size: 27px;
  color: #c4a676;
}

@media (max-width: 767px) {
  .site-header-2 .site-logo .fi:before {
    font-size: 18px;
  }
}
/*logo 2*/

.site-header-2 .site-logo-2 {
  margin: 0;
}

.site-header-2 .site-logo-2 a {
  color: #fff;
  font-size: 48px;
}
.site-header-2 .site-logo-2 a span {
    color: #c4a676;
    padding: 0 35px 0 15px;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
}
@media (max-width: 991px) {
  .site-header-2 .site-logo-2 a {
    color: #333333;
  }
}

.site-header-2 .site-logo-2 a:hover {
  color: #c4a676;
}

@media (max-width: 991px) {
  .site-header-2 .site-logo a:hover {
    color: #333333;
  }
}

.site-header-2 .site-logo-2 .fi {
  display: inline-block;
  padding-right: 5px;
}

.site-header-2 .site-logo-2 .fi:before {
  font-size: 27px;
  color: #c4a676;
}

@media (max-width: 767px) {
  .site-header-2 .site-logo-2 .fi:before {
    font-size: 18px;
  }
}

/**/
.site-header-2 .navbar-header {
  margin-top: 22px;
}

@media (max-width: 991px) {
  .site-header-2 .navbar-header {
    margin-top: 10px;
  }
}

.site-header-2 .navigation {
  background-color: #fff;
  margin-bottom: 0;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

@media (max-width: 991px) {
  .site-header-2 .navigation {
    min-height: 75px;
  }
}

.site-header-2 #navbar {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  padding-right: 0;
  /*** mega-menu style ***/
}

.site-header-2 #navbar ul {
  list-style: none;
}

.site-header-2 #navbar > ul li a:hover,
.site-header-2 #navbar > ul li.current-menu-item a {
  text-decoration: none;
  color: #c4a676;
}

@media screen and (min-width: 992px) {
  .site-header-2 #navbar {
    /*** hover effect ***/
  }
  .site-header-2 #navbar li {
    position: relative;
  }
  .site-header-2 #navbar > ul > li > a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    padding: 40px 14px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
  }
  .site-header-2 #navbar > ul > li:last-child a {
    padding-right: 0;
  }
  .site-header-2 #navbar > ul .sub-menu {
    background-color: #fff;
    width: 240px;
    padding: 0px 15px;
    position: absolute;
    left: 0;
    top: 130%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 2px 10px #969595;
    box-shadow: 0 2px 10px #969595;
  }
  .site-header-2 #navbar > ul > li .sub-menu li {
    border-bottom: 1px solid #ededed;
  }
  .site-header-2 #navbar > ul > li .sub-menu a {
    font-size: 13px;
    font-weight: 600;
    color: #3a3a3a;
    display: block;
    padding: 15px;
    font-family: 'Cormorant Garamond', serif;
  }
  .site-header-2 #navbar > ul > li .sub-menu a:hover {
    color: #c4a676;
  }
  .site-header-2 #navbar > ul > li > .sub-menu .sub-menu {
    left: 110%;
    top: 0;
  }
  .site-header-2 #navbar > ul > li > .sub-menu > .menu-item-has-children > a {
    position: relative;
  }
  .site-header-2 #navbar > ul > li > .sub-menu > .menu-item-has-children > a:before {
    font-family: "themify";
    content: "\e64b";
    font-size: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .site-header-2 #navbar > ul > li:hover > .sub-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
  .site-header-2 #navbar .sub-menu > li:hover > .sub-menu {
    left: 107%;
    visibility: visible;
    opacity: 1;
  }
  .site-header-2 #navbar > ul > li:last-child .sub-menu .sub-menu {
    right: 107%;
    left: auto;
  }
  .site-header-2 #navbar > ul > li:last-child .sub-menu > li:hover > .sub-menu {
    right: 107%;
    left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .site-header-2 #navbar > ul > li > a {
    padding: 40px 18px;
  }
}

@media (max-width: 991px) {
  .site-header-2 #navbar > ul > li a {
    display: block;
    font-size: 14px;
  }
  .site-header-2 #navbar > ul > li .sub-menu li {
    border-bottom: 1px solid #e6e6e6;
  }
  .site-header-2 #navbar > ul .sub-menu > li:last-child {
    border-bottom: 0;
  }
  .site-header-2 #navbar > ul > li > .sub-menu a {
    padding: 8px 15px 8px 45px;
  }
  .site-header-2 #navbar > ul > li > .sub-menu .sub-menu a {
    padding: 8px 15px 8px 65px;
  }
  .site-header-2 #navbar > ul .menu-item-has-children > a {
    position: relative;
  }
  .site-header-2 #navbar > ul .menu-item-has-children > a:before {
    font-family: "themify";
    content: "\e64b";
    font-size: 11px;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media screen and (min-width: 992px) {
  .site-header-2 #navbar {
    /*** hover effect ***/
  }
  .site-header-2 #navbar .has-mega-menu {
    position: static;
  }
  .site-header-2 #navbar .mega-menu,
  .site-header-2 #navbar .half-mega-menu {
    background-color: #fff;
    padding: 20px;
    border-top: 2px solid #c4a676;
    position: absolute;
    right: 0;
    top: 120%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .site-header-2 #navbar .mega-menu {
    width: 1140px;
    right: 15px;
  }
  .site-header-2 #navbar .half-mega-menu {
    width: 585px;
  }
  .site-header-2 #navbar .mega-menu-box-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #e6e6e6;
  }
  .site-header-2 #navbar .mega-menu-list-holder li a {
    font-size: 14px;
    display: block;
    padding: 7px 8px;
    margin-left: -8px;
  }
  .site-header-2 #navbar .has-mega-menu:hover > ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1199px) {
  .site-header-2 #navbar > ul .mega-menu {
    width: 950px;
    right: 15px;
  }
  .site-header-2 #navbar > ul .half-mega-menu {
    width: 485px;
  }
}

@media (max-width: 991px) {
  .site-header-2 #navbar > ul .mega-menu,
  .site-header-2 #navbar > ul .half-mega-menu {
    width: auto;
  }
  .site-header-2 #navbar > ul .mega-menu .row,
  .site-header-2 #navbar > ul .half-mega-menu .row {
    margin: 0;
  }
  .site-header-2 #navbar .mega-menu-content > .row > .col {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .site-header-2 #navbar .mega-menu .mega-menu-list-holder a {
    padding: 5px 15px 5px 40px;
  }
  .site-header-2 #navbar .mega-menu .mega-menu-box-title {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px dotted #b3b3b3;
    padding: 0 0 4px 5px;
    margin: 0 25px 8px 25px;
  }
}

@media screen and (min-width: 992px) {
  .site-header-2 .navbar-header .open-btn {
    display: none;
  }
  .site-header-2 #navbar .close-navbar {
    display: none;
  }
}

@media (max-width: 991px) {
  .site-header-2 {
    /* class for show hide navigation */
  }
  .site-header-2 .container {
    width: 100%;
  }
  .site-header-2 .navbar-header button {
    background-color: #c4a676;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
    padding: 5px 10px;
    outline: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 20;
  }
  .site-header-2 .navbar-header button span {
    background-color: #fff;
    display: block;
    height: 2px;
    margin-bottom: 5px;
  }
  .site-header-2 .navbar-header button span:last-child {
    width: 15px;
    margin: 0;
  }
  .site-header-2 #navbar {
    background: #fff;
    display: block !important;
    width: 280px;
    height: 100% !important;
    margin: 0;
    padding: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    position: fixed;
    right: -300px;
    top: 0;
    z-index: 100;
  }
  .site-header-2 #navbar ul a {
    color: #000;
  }
  .site-header-2 #navbar ul a:hover,
  .site-header-2 #navbar ul li.current a {
    color: #c4a676;
  }
  .site-header-2 #navbar .navbar-nav {
    height: 100%;
    overflow: auto;
  }
  .site-header-2 #navbar .close-navbar {
    background-color: #c4a676;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    outline: none;
    position: absolute;
    left: -18px;
    top: 10px;
    z-index: 20;
  }
  .site-header-2 #navbar .close-navbar i {
    display: inline-block;
    padding-top: 5px;
  }
  .site-header-2 #navbar > ul > li {
    border-bottom: 1px solid #cccccc;
  }
  .site-header-2 #navbar > ul > li > a {
    padding: 10px 15px 10px 35px;
  }
  .site-header-2 .slideInn {
    right: 0 !important;
  }
}

@media (max-width: 767px) {
  .site-header-2 .navbar-header .navbar-brand {
    font-size: 24px;
  }
  .site-header-2 #navbar .navbar-nav {
    margin: 0;
  }
}

@media (max-width: 991px) {
  .site-header-2 .navbar-collapse.collapse {
    display: none;
  }
  .site-header-2 .navbar-collapse.collapse.in {
    display: block;
  }
  .site-header-2 .navbar-header .collapse,
  .site-header-2 .navbar-toggle {
    display: block;
  }
  .site-header-2 .navbar-header {
    float: none;
  }
  .site-header-2 .navbar-right {
    float: none;
  }
  .site-header-2 .navbar-nav {
    float: none;
  }
  .site-header-2 .navbar-nav > li {
    float: none;
  }
}

/*************************************
  header style 1
*************************************/
.header-style-1 {
  z-index: 999;
}

@media screen and (min-width: 992px) {
  .header-style-1 {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    left: 0;
    top: 0;
    z-index: 999;
  }
  .header-style-1 .navigation {
    background-color: transparent;
  }
}

.header-style-1 .bottom-border {
  background-color: rgba(255, 255, 255, 0.13);
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  left: 15px;
  bottom: 1px;
}
.navbar .navbar-header,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}
/*************************************
  header style 2
*************************************/
.header-style-2 {
  z-index: 999;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .header-style-2 {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    position: absolute;
  }
  .header-style-2 .navigation {
    background-color: transparent;
  }
}

.header-style-2 .bottom-border {
  background-color: rgba(255, 255, 255, 0.13);
  width: calc(100% - 30px);
  height: 1px;
  position: absolute;
  left: 15px;
  bottom: 1px;
}

/***************************************
  hero style 1
****************************************/
.hero-static-image {
  position: relative;
}
.hero-static-bg img {
  height: 900px;
  width: 1920px
}
.hero-static-image:before {
  position: absolute;
  content: "";
  /* background-color: rgb(0, 0, 0, .8); */
  left: 0px;
  top: -2px;
  width: 1920px;
  height: 901px;
}

.hero-static-image .hero-circle {
  width: 100%;
  height: 95%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-static-image .circle-inner {
  width: 650px;
  height: 568px;
  display: table;
  position: absolute;
  left: 50%;
  top: calc(50% + 50px);
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
  .hero-static-image .hero-circle .circle-inner {
    margin-top: -25px;
  }
}

@media (max-width: 991px) {
  .hero-static-image .hero-circle .circle-inner {
    width: 550px;
    height: 481px;
    top: 50%;
  }
}

@media (max-width: 767px) {
  .hero-static-image .hero-circle .circle-inner {
    width: 450px;
    height: 392px;
  }
}

@media (max-width: 450px) {
  .hero-static-image .hero-circle .circle-inner {
    width: 400px;
    height: 349px;
  }
}

.hero-static-image .hero-circle .text {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.hero-static-image .hero-circle h4 {
  font-size: 30px;
  color: #fff;
  margin: 1.5em 0 0;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .hero-static-image .hero-circle h4 {
    font-size: 35px;
    margin: 1.5em 0 0;
  }
}

@media (max-width: 767px) {
  .hero-static-image .hero-circle h4 {
    font-size: 30px;
    margin: 1.3em 0 0;
  }
}

.hero-static-image .hero-circle h4 span {
  display: inline-block;
}

.hero-static-image .hero-circle h2 {
  font-size: 50px;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  font-weight: 800;
  padding: 2px 25px 20px;
  margin: 0.2em 0;
  display: inline-block;
  position: relative;
}

@media (max-width: 991px) {
  .hero-static-image .hero-circle h2 {
    font-size: 70px;
  }
}

@media (max-width: 767px) {
  .hero-static-image .hero-circle h2 {
    font-size: 55px;
  }
}

@media (max-width: 767px) {
  .hero-static-image .hero-circle h2 {
    padding: 2px 10px 5px;
  }
}
.hero-static-image .hero-circle p {
  font-size: 30px;
  color: #c4a676;
  font-family: Great Vibes;
  margin: 0 0 30px;
}

@media (max-width: 991px) {
  .hero-static-image .hero-circle p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .hero-static-image .hero-circle p {
    font-size: 18px;
  }
}

.hero-static-image .hero-circle a span {
    color: #c4a676;
    padding: 0 10px;
    font-size: 72px;
    position: relative;
    -webkit-animation: pulse 0.5s infinite;
    animation: pulse 0.5s infinite;
}


/***************************************
  hero style 2
****************************************/
.hero-static-image-one {
    position: relative;
    height: 100vh;
    min-height: 850px;
  }
.hero-static-image-one:before {
  position: absolute;
  content: "";
  background-color: rgb(44, 44, 44);
  opacity: 0.702;
  left: 0px;
  top: -2px;
   width: 100%;
  height: 100%;
    left: 0;
    top: 0;
}
.hero-static-image-one .hero-circle {
  width: 100%;
  height: 95%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

.hero-static-image-one .circle-inner {
  background: url("../images/slider/hero-shape.png") center center/100% no-repeat local;
  width: 650px;
  height: 568px;
  display: table;
  position: absolute;
  left: 50%;
  top: calc(50% + 50px);
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
  .hero-static-image-one .hero-circle .circle-inner {
    margin-top: -25px;
  }
}

@media (max-width: 991px) {
  .hero-static-image-one .hero-circle .circle-inner {
    width: 550px;
    height: 481px;
    top: 50%;
  }
}

@media (max-width: 767px) {
  .hero-static-image-one .hero-circle .circle-inner {
    width: 450px;
    height: 392px;
  }
}

@media (max-width: 450px) {
  .hero-static-image-one .hero-circle .circle-inner {
    width: 400px;
    height: 349px;
  }
}

.hero-static-image-one .hero-circle .text {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.hero-static-image-one .hero-circle h4 {
  font-size: 30px;
  color: #fff;
  margin: 1.5em 0 0;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .hero-static-image-one .hero-circle h4 {
    font-size: 35px;
    margin: 1.5em 0 0;
  }
}

@media (max-width: 767px) {
  .hero-static-image-one .hero-circle h4 {
    font-size: 30px;
    margin: 1.3em 0 0;
  }
}

.hero-static-image-one .hero-circle h4 span {
  display: inline-block;
}

.hero-static-image-one .hero-circle h2 {
  font-size: 50px;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  font-weight: 800;
  padding: 2px 25px 20px;
  margin: 0.2em 0;
  display: inline-block;
  position: relative;
}

@media (max-width: 991px) {
  .hero-static-image-one .hero-circle h2 {
    font-size: 70px;
  }
}

@media (max-width: 767px) {
  .hero-static-image-one .hero-circle h2 {
    font-size: 55px;
  }
}

@media (max-width: 767px) {
  .hero-static-image-one .hero-circle h2 {
    padding: 2px 10px 5px;
  }
}
.hero-static-image-one .hero-circle p {
  font-size: 30px;
  color: #c4a676;
  font-family: Great Vibes;
  margin: 0 0 30px;
}

@media (max-width: 991px) {
  .hero-static-image-one .hero-circle p {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .hero-static-image-one .hero-circle p {
    font-size: 18px;
  }
}

.hero-static-image-one .hero-circle a span {
    color: #c4a676;
    padding: 0 10px;
    font-size: 72px;
    position: relative;
    -webkit-animation: pulse 0.5s infinite;
    animation: pulse 0.5s infinite;
}
/******************************
  #page title
******************************/
.page-title {
  width: 100%;
  height: 600px;
  text-align: center;
  position: relative;
}

@media (max-width: 991px) {
  .page-title {
    height: 300px;
  }
}

.page-title:before {
  content: "";
  background: -webkit-linear-gradient(top, #000 55%, #727272);
  background: -moz-linear-gradient(top, #000 55%, #727272);
  background: -o-linear-gradient(top, #000 55%, #727272);
  background: -ms-linear-gradient(top, #000 55%, #727272);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #000), to(#727272));
  background: linear-gradient(top, #000 55%, #727272);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
}

.page-title .container {
  height: 100%;
  display: table;
}

.page-title .container > .row {
  vertical-align: middle;
  display: table-cell;
}

@media screen and (min-width: 992px) {
  .page-title .container .col {
    padding-top: 100px;
  }
}

.page-title h2,
.page-title ol {
  color: #fff;
}

.page-title h2 {
  font-size: 48px;
  margin: 0;
}

@media (max-width: 991px) {
  .page-title h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .page-title h2 {
    font-size: 36px;
  }
}
.page-title ol {
  color: #fff;
}
.page-title .breadcrumb {
  background-color: transparent;
  padding: 8px 0 0 ;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .page-title .breadcrumb {
    text-align: center;
  }
}

.page-title .breadcrumb li {
  font-size: 16px;
  color: #fff;
  margin-right: 5px;
  position: relative;
}

@media (max-width: 767px) {
  .page-title .breadcrumb li {
    font-size: 14px;
  }
}

.page-title .breadcrumb > li + li:before {
    font-family: "themify";
    content: "\e628";
    color: #cee002;
    margin-right: 5px;
  }

.page-title .breadcrumb li a {
    color: #fff;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 17px;
}

.page-title .breadcrumb li a:hover {
  color: #c4a676;
}

.page-title .breadcrumb > li + li {
  margin-left: 20px;
  padding-left: 15px;
  color: #c4a676;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 17px;
}

.page-title .breadcrumb > li + li:before {
  content: "-";
  color: #fff;
  width: 6px;
  height: 6px;
  padding: 0;
  position: absolute;
  left: -8px;
  top: 0;
}
/*=========== SECTION ==========*/
.section-padding {
  padding: 100px 0 70px;
}
.section-padding-one {
  padding: 100px 0 0px;
}
.section-title {
  position: relative;
  text-align: center;
}
.section-title h2 {
  margin: 0 auto;
  font-size: 40px;
  padding:0 0 20px;
  color: #c4a676;
}
.section-titles {
  position: relative;
  text-align: center;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  margin-bottom: 3rem !important;
  border-top: 1.2px solid #e6cca2 !important;
  border-bottom: 1.2px solid #e6cca2 !important;
  font-family: 'Cormorant Garamond', serif;
  text-transform: uppercase;
}
.section-titles h2 {
  margin: 0 auto;
  font-size: 40px;
  color: #c4a676;
}
.section-titles p {
  text-transform: none;
}
@media (max-width: 767px) {
  .section-title h2 {
  font-size: 30px;
  }
}

@media (max-width: 767px) {
  .section-titles h2 {
  font-size: 30px;
  }
}

/*=========== COUPLE SECTION ==========*/

/*couple-section-2*/
#story .container,
#wedding .container {
  margin-top: 50px;
}
.couple-img-2 .groom, .couple-img-2 .groom-1 {
  width: 315px;
  height: 315px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #fff;
  box-shadow: 0px 8px 48.38px 10.62px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 8px 48.38px 10.62px rgba(0, 0, 0, 0.04);
}
@media (max-width: 767px) {
  .couple-img-2 .groom, .groom-1{
    border-radius: 0%;
  }
}
.couple-img-2 .groom:before {
  content: "";
  position: absolute;
  left: 23px;
  top: -43px;
  width: 207px;
  height: 212px;
  background: url(../img/couple/groom-before.png) center center/auto no-repeat local;
}
@media (max-width: 767px) {
  .couple-img-2 .groom:before {
  left: -20px;
  top: -42px;
  }
}
.couple-img-2 .groom-1:before {
  content: "";
  position: absolute;
  left: 0px;
  top: -55px;
  width: 207px;
  height: 212px;
  background: url(../img/couple/groom-before.png) center center/auto no-repeat local;
}
@media (max-width: 767px) {
  .couple-img-2 .groom-1:before {
  left: -20px;
  top: -42px;
  }
}
.couple-img-2 .groom-1 {
    position: relative;
    content: "";
    left: 31%;
    bottom: 140px;
}
@media (max-width: 767px) {
  .couple-img-2 .groom-1 {
    left: 18%;
    bottom: 140px;
  }
}
@media (max-width: 1700px) {
  .story-body{
    margin-bottom: 100px;
  }
  .couple-img-2 {
    height: 500px;
    margin-bottom: 100px;
  }
}
@media (max-width: 1700px) {
  .couple-img-2 {
    margin-bottom: 0px;
  }
}
.pad-0 {
  padding: 0;
}
#story .section-titles {
  margin-bottom: 6rem !important;
}
.story-body {
  margin-top: 1rem;
}
  .story-body p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
  }


/*--------------------------------------------------------------
#0.7    wedding-info-section
--------------------------------------------------------------*/
.wedding-info {
  min-height: 200px;
}
  .wedding-info.location-info {
    text-align: right;
  }
  .wedding-info.schedule-info  {
    text-align: left;
  }
  .wedding-info h2 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    color: #867457;
    font-size: 24px;
  }

.pad-0 {
  padding: 0;
}

/*--------------------------------------------------------------
#0.7    count-down-section
--------------------------------------------------------------*/

.count-down-section {
    position: relative;
    padding:250px 0 200px;
}
.count-down-section-pad-top {
  padding: 390px 0 245px;
}
@media (max-width: 991px) {
   .count-down-section {
    padding:310px 0 175px;
  }
}
.count-down-section .border-top-rect {
    background-color: #ebeae4;
    height: 100px;
    left: 50%;
    position: absolute;
    top: 100px;
    width: 1px;
    z-index: 1;
}

.countdown-col {
    background: rgba(255,255,255,0.3);
    padding: 75px 70px;
    border-radius: 10px;
    margin:0 28px;
}
@media (max-width: 991px) {
  .countdown-col {
    padding: 50px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .countdown-col {
    padding: 10px;
    margin: 0;
  }
}
.count-down-section h2 {
    font-size: 70px;
    font-family: Great Vibes;
    color: #c4a676;
    margin: 0;
    font-weight: 200;
    text-align: center;
  }

.count-down-section p {
    text-align: center;
    font-size: 24px;
    color: #2c2c2c;
    padding-top: 10px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: normal;
}
@media (max-width: 991px) {
  .count-down-section p {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
    .count-down-section h2 {
        font-size: 62px;
    }
}

@media (max-width: 767px) {
    .count-down-section h2 {
        font-size: 36px;
        padding-top: 24px;
    }
}
.count-down-section .count-down-clock {
    margin-top: 13px;
}

@media (max-width: 991px) {
    .count-down-section .count-down-clock {
        margin-top: 35px;
    }
}
.count-down-section #clock {
    width: 100%;
    color: #2c2c2c;
    overflow: hidden;
    font-size: 33px;
    padding: 30px 0 30px 15px;
    font-family: 'Cormorant Garamond', serif;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    display: inline-block;
}
@media (max-width: 991px) {
  .count-down-section #clock {
    padding: 0px 16px 0px 17px;
    border-top: none;
    border-bottom: none;
  }
}
.count-down-section #clock > div {
    /* background: #fff; */
    width: 25%;
    float: left;
    display: inline-block;
    position: relative;
    padding: 0 5px;
}
@media (max-width: 991px){
  .count-down-section #clock > div {
    padding: 0 16px 0 30px;
  }
}
@media (max-width: 536px) {
  .count-down-section #clock > div {
    padding: 0 5px;
  }
}
.countdown-col .vector-img-option img {
    content: "";
    width: 173%;
    max-width: 130%;
    height: 790px;
    position: absolute;
    left: 50%;
    top: 49%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}
@media (max-width: 1199px) {
  .countdown-col .vector-img-option img {
      width: 120%;
  }
}
@media (max-width: 991px) {
  .countdown-col .vector-img-option img {
      width: 100%;
      height: 600px;
      top: 53%;
  }
}
.countdown-col .inner-border {
    width: calc(90% - 80px);
    height: calc(100% - 80px);
    border: 2px dashed #c4a676;
    position: absolute;
    border-radius: 0%;
    left: 80px;
    top: 40px;
    opacity: 0.4;
}
@media (max-width: 991px) {
  .countdown-col .inner-border {
    width: calc(106% - 106px);
    height: calc(114% - 106px);
    position: absolute;
    border-radius: 0%;
    left: 40px;
    top: 25px;
    opacity: 0.4;
 }
}
.count-down-section #clock>div+div {
    position: relative;
}
.count-down-section #clock>div:last-child {
    border-right: none;
    background-image: none;
}

@media (max-width: 767px) {
    .count-down-section #clock>div {
        width: calc(50% - 5px);
    }
}
@media (max-width: 767px) {
    .count-down-section #clock>div+div {
        margin: 5px;
    }
    .count-down-section #clock>div+div {
        margin-bottom: 5px;
    }
}
.count-down-section #clock .box>div {
    font-size: 48px;
    font-weight: 600;
    line-height: 1em;
    color: #2c2c2c;
    font-family: 'Cormorant Garamond', serif;
    display: inline-block;
}

@media (max-width: 991px) {
    .count-down-section #clock .box>div {
        font-size: 15px;
    }
}

.count-down-section #clock .box span {
    text-transform: capitalize;
    margin-left: -5px;
}

#clock .box>div:first-child {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: capitalize;
}

#clock .box>span:last-child {
    font-size: 32px;
    padding-top: 30px;
    text-transform: capitalize;
}
@media (max-width: 791px){
    #clock .box>div:first-child {
      font-size: 24px;
  }
    #clock .box>span:last-child {
      font-size: 24px;
  }
}

@media (max-width: 767px) {
    .count-down-section #clock {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .count-down-section #clock>div {
    flex-basis: calc(25% - 15px);
    margin: 0 7.5px;
    }
}
@media (max-width: 480px) {
    .count-down-section #clock>div {
    flex-basis: calc(45% - 15px);
    margin: 0 7.5px;
    }
}



/*--------------------------------------------------------------
#0.7   project-section
--------------------------------------------------------------*/

/*pad-row*/
.p-pad-l {
  padding: 2.5px;
}
.p-pad-b {
  margin-bottom: 5px;
}

/*project-two*/

 .project-two {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .project-two .second-raw-two {
    margin-top: 5px;
  }

  .project-two .second-raw-pad-two {
    padding: 0 2.5px;
  }
  .project-two .project-column-two .project-thumb-two {
    position: relative;
    overflow: hidden;
  }
  .project-two .project-thumb-two:hover .project-thumb2-two{
    opacity: 0;
  }
  .project-two .project-thumb2-two {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

  .project-two .project-overlay-two {
    background-color: rgb(196, 166, 118);
    bottom: 0;
    left: 0;
    opacity: 0.902;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    height: 90%;
    width: 90%;
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .project-two .project-thumb-two:hover .project-overlay-two {
    transform: scale(1);
  }
 .project-two .srvc-ovrly-icon-two {
    position: absolute;
    margin: 0 auto;
    right: 25px;
    top: 10%;
  }
  .project-two .srvc-ovrly-text-two {
    position: absolute;
    margin: 0 auto;
    left: 45px;
    top: 25%;
    text-align: left;
    padding: 20px 20px 20px 0;
  }
  @media (max-width: 767px) {
      .project-two .srvc-ovrly-text-two {
      left: 20px;
      top: 15%;
    }
  }
    @media (max-width: 548px) {
      .project-two .srvc-ovrly-text-two {
      left: 20px;
      top: 8%;
    }
  }
   .project-two .srvc-ovrly-text-two h3 {
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
    font-family: 'Cormorant Garamond', serif;
  }
  @media (max-width: 767px)  {
    .project-two .srvc-ovrly-text-two h3 {
      font-size: 22px
    }
  }
   .project-two .srvc-ovrly-text-two p {
    margin-top: 10px;
    color: #fff;
    margin-bottom: 0;
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
  }
   @media (max-width: 767px)  {
    .project-two .srvc-ovrly-text-two p {
      font-size: 14px
    }
  }
   @media (max-width: 411px)  {
    .project-two .srvc-ovrly-text-two p {
      display: none;
    }
  }






/*--------------------------------------------------------------
#0.7  Gift section
--------------------------------------------------------------*/
.gift-registration {
  padding: 37px 0 0;
  margin-bottom: 132px;
}
.gift-icons {
  text-align: center;

}
  .gift-icons .img {
    width: 150px;
  }
  .gift-icons .img-2 {
    width: 135px !important;
  }
.icon-wrapper {
  opacity: 0.8;
  cursor: pointer;
  line-height: 200px;
  height: 200px
}
  .icon-wrapper:hover {
    opacity: 1;
  }
  .icon-wrapper.wrapper-2 {
    line-height: 220px;
    height: 220px;
  }
@media (max-width: 1199px) {
  .gift-registration {
    margin-bottom: 0;
  }
}
.gift-pad-top {
  padding: 145px 0 0px;
}
.gift-registration .slide-item img {
  opacity: 0.5;
}
.gift-title {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.gift-title h2 {
  padding:0 0 20px;
}
.gift-title p {
  font-size: 17px;
  font-family: 'Cormorant Garamond', serif;
}



/*--------------------------------------------------------------
#0.7  Contact form
--------------------------------------------------------------*/
  /* */

.contact-title {
  position: relative;
  top: 55px;
}
.contact-title:before {
    content: "";
    background: url(../img/contact-title.png) center center/auto no-repeat local;
    width: 122px;
    height: 49px;
    position: absolute;
    left: 18%;
    top: 36%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.contact-title h2 {
  margin: 0 auto;
  font-size: 48px;
  padding:0 0 60px;
}
@media (max-width: 1199px) {
  .contact-title h2 {
    font-size: 36px;
  }
}
.contact-title p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 17px;
}
.contact-one {
  background: #f8f7f2;
  padding: 100px 0;
}
  .contact-one-page {
    padding-bottom: 60px;
    padding-top: 80px;
  }

  .form-control.style2 {
    height: 150px;
  }
  .form-control-one {
    border: 1px solid #f8f7f2;
    border-image: none;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
    /* text-transform: capitalize; */
  }
   .form-control-one:hover {
    border: 1px solid #e5e5e5;
  }
    textarea.form-control {
      height: 160px;
  }
  .contact-one-inlocat {
    margin-top: 85px;
  }
  .contact-one-inlocat span,
  .contact-one-inlocat2 span {
    font-size: 36px;
  }
  .contact-one-inlocat h3 {
    color: #1e1e1e;
    letter-spacing: 1px;
  }

  .contact-btn {
    background-color: #c4a676;
    border-color: #c4a676;
    color: #fff;
    padding: 5px 55px;
    border-radius: 3px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

 .contact-btn:hover {
    background-color: #a78c62;
    border-color: #a78c62;
    color: #fff;
}
.mar-bot-con {
  margin-bottom: 70px;
}
/*contact frome two*/

.contact-two {
  padding: 235px 0 100px;
  background: url(../img/main/s_01.png) center center/auto no-repeat local;
  height: 1000px;
}

.contact-two .container {
  background-color: rgba(148, 135, 86, 0.5);
  border-radius: 10px;
  padding: 30px;
}
 .form-control-two {
    border: 1px solid #f8f7f2;
    background: #f8f7f2;
    border-image: none;
    border-radius: 5px;
    box-shadow: none;
    height: 50px;
    font-family: 'Cormorant Garamond', serif;
  }
   .form-control-two:hover {
    border: 1px solid #c4a676;
  }
  .form-control-two.name {
    text-transform: capitalize;
  }
  .form-group {
    margin-bottom: 10px;
 }
/*--------------------------------------------------------------
#0.7   footer-section
--------------------------------------------------------------*/
.footer {
  padding: 50px 0 0;
  /* background: url(../img/footer-img1.png) center center/auto no-repeat local; */
}
@media (max-width: 414px) {
  .footer {
    background-image: none;
  }
}
.footer-col-img-option img {
    content: "";
    position: absolute;
    left: 50%;
    top: 52.8%;
    -webkit-transform: translate(-50%, -61%);
    transform: translate(-50%, -61%);
    z-index: -1;
    width: 50px;
}
.footer-col {
  padding: 0 46px;
  /* -webkit-box-shadow: 0px -74px 48.38px 10.62px rgba(0, 0, 0, 0.09);
  box-shadow: 0px -74px 48.38px 10.62px rgba(0, 0, 0, 0.09); */
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .footer-col {
  padding: 0 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 1;
  }
}
.copy-right-img-option img {
    content: "";
    position: absolute;
    left: 50%;
    top: 64.8%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (max-width: 991px) {
    .footer-col-img-option img {
    -webkit-transform: translate(-50%, -61%);
    transform: translate(-50%, -64%);
    z-index: -1;
  }
}
@media (max-width: 767px) {
    .footer-col-img-option img {
    -webkit-transform: translate(-50%, -61%);
    transform: translate(-50%, -64%);
    z-index: -1;
  }
}
@media (max-width: 320px){
.footer-col-img-option img {
    -webkit-transform: translate(-50%, -61%);
    transform: translate(-50%, -60%);
    z-index: -1;
 }
}
.footer-col h2 {
  color: rgba(196, 166, 118, 0.5);
  font-size: 48px;
  margin-top: -7px;
}
@media (max-width: 1199px) {
  .footer-col h2 {
    font-size: 36px;
  }
}
.footer-col h2 span {
  color: #c4a676;
  padding: 0 35px 0 15px;
  font-family: 'Great Vibes', cursive;
  font-weight: normal;
}
@media (max-width: 1199px) {
  .footer-col h2 span {
    font-size: 36px;
  }
}
.footer-col h4 {
  color: #a6a6a6;
  font-size: 18px;

}
.footer-col p {
  color: #2c2c2c;
  font-size: 17px;
}

@media (max-width: 767px) {
  .footer-col p {
    font-size: 14px;
  }
}
.footer-col .copyright p {
  color: #2d2d2d;
  font-size: 14px;
  margin-top: 94px;
  font-family: 'Cormorant Garamond', serif;
}
@media (max-width: 1199px) {
  .footer-col .copyright p {
    margin-top: 53px;
  }
}
@media (max-width: 991px) {
  .footer-col .copyright p {
    margin-top: 90px;
  }
}
@media (max-width: 767px) {
  .footer-col .copyright p {
    margin-top: 90px;
  }
}
@media (max-width: 320px) {
  .footer-col .copyright p {
    margin-top: 0px;
  }
}
.footer-col .copyright p span {
  color: #c4a676;
}
/*** spirit-header ***/
.site-header .sticky-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: -200px;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -ms-transition: all 0.7s;
  transition: all 0.7s;
    background: white;
    box-shadow: 1px 2px 15px #f1f1f1;
}

.site-header .sticky-on {
  opacity: 1;
  top: 0;
}

.hero-static-image {
  height: 100vh;
  min-height: 850px;
}

.hero-static-image:before {
  position:  absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.header-style-2 .site-logo a span {
  color: #fff;
}
.header-style-2 .sticky-header {
    background: rgba(196,166,118, 0.8);
    box-shadow: 1px 2px 15px #f1f1f1;
}

/*** spirit-header ***/
.spirit-header {
  position: relative;
  z-index: 100;
}

.surface-shader {
  opacity: 0.4;
}

.ripple,
.particleground,
.video-player,
.surface-shader,
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}


/* ------ Trail Welcome Area CSS ----- */

.hero-static-image {
    position: relative;/*
    z-index: 1;*/
    height: 100vh;
}
canvas#world {
    z-index: 9999966666666;
    overflow: hidden;
}

.hero-static-image .hero-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.1;
}

/*--------------------------------------------------------------
#AA boxing
--------------------------------------------------------------*/
/*
  margin
*/
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

/*
  padding
*/
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */
